html
{
    scroll-behavior: smooth;
}
.flex-container {
    background-color: red;
    display: flex; 
    flex-direction: column ;
    align-items: flex-end;
} 
img {
    height: 100px;
    width: 200px;
}
nav {
    display:flex; 
    justify-content: space-evenly;
    position: sticky;
    top:0px; 
    background-color:  61FF33; 
}

#historia {
    background-color: blue;
    height: 60vh ;
}